<html>
    <head>
        <title>{{{pageTitle}}}</title>
    </head>
    <body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
    </nav>